
TeamInfo/TeamInfo/obj/Debug/TeamInfo.pdb

TeamInfo/TeamInfo/obj/Debug/TeamInfo.exe

TeamInfo/TeamInfo/obj/Debug/TeamInfo.csprojAssemblyReference.cache

TeamInfo/TeamInfo/bin/Debug/TeamInfo.pdb

TeamInfo/TeamInfo/bin/Debug/TeamInfo.exe

TeamInfo/.vs/TeamInfo/v16/.suo
